
<div class="home">
    <nav class="navbar">
       
        <h3 class="logo"><a href="/"></a>Mobi Store</h3>
        
        <div class="nav-link">
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>
<!--             
                <li>
                    <a href="products/edit/:id">edit product</a>
                </li> -->
                <li>
                    <a href="brands/create">create brand</a>
                </li> 
                <li>
                    <a href="products/create">create product</a>
                </li>
                
                <li>
                    <a href="/brands">brands</a>
                </li>
                <li>
                    <a href="/products">products</a>
                </li>
            </ul>
        </div>
    </nav>
</div>